<%- include('partials/header.ejs') %>
<body class="about">
    <div class="container">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula porta odio, in viverra lectus accumsan ac. Duis ac sem fermentum, tincidunt ipsum sed, tempor ante. Mauris dignissim erat cursus pellentesque tristique. Cras eu ante tempus, ullamcorper purus at, commodo mauris. Ut molestie sagittis orci. Quisque aliquet tellus id ipsum pellentesque ullamcorper. Aenean at hendrerit mauris. Vivamus commodo massa nisl, vitae tempor diam sollicitudin id. Praesent a sagittis eros. Phasellus pellentesque quam magna, quis maximus risus maximus sed. Duis lobortis ex id suscipit ultricies.
        Nullam vitae tortor lorem. Morbi consectetur turpis turpis, lobortis eleifend lorem blandit vestibulum. Nunc ut velit cursus, interdum turpis a, cursus neque. Curabitur mattis at est varius rutrum. Proin et tincidunt augue, eget rutrum nunc. Aliquam vehicula dui sapien, a fringilla turpis volutpat id. Nullam ultrices odio at diam eleifend bibendum. Maecenas dignissim convallis justo, in hendrerit sem sodales vel. Duis posuere eros dolor. Donec porttitor gravida semper. In auctor eget nisi vel placerat. Integer vestibulum sit amet eros sed accumsan.
    </div>
    
</body>
<%- include('partials/footer.ejs') %>