<%- include('partials/header.ejs') %>
<body>
    <h1>Create New Blog Post</h1>
  <form action="/submit-blog" method="post">
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" maxlength="250" required>
    <br>
    <label for="subtitle">Subtitle:</label>
    <input type="text" id="subtitle" name="subtitle" maxlength="250" required>
    <br>
    <label for="body">Body:</label>
    <textarea id="body" name="body" rows="10" cols="50" required></textarea>
    <br>
    <label for="author">Author:</label>
    <input type="text" id="author" name="author" maxlength="250" required>
    <br>
    <label for="img_url">Image URL:</label>
    <input type="url" id="img_url" name="img_url" maxlength="250" required>
    <br>
    <button type="submit">Create Post</button>
  </form>
</body>
<%- include('partials/footer.ejs') %>
